<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dengage.cordova"
        android-packageName="com.dengage.cordova"
        version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Dengage Sample App</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>

    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json"/>

        <preference name="GradlePluginGoogleServicesEnabled" value="true"/>
        <preference name="GradlePluginGoogleServicesVersion" value="4.3.4"/>
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
</widget>
