<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dengage.cordova"
        android-packageName="com.dengage.cordova"
        version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>

    <platform name="android">
        <allow-intent href="market:*"/>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
        </config-file>

        <config-file parent="./application" target="AndroidManifest.xml">
            <meta-data
                    android:name="den_event_api_url"
                    android:value="https://event.dengage.com"/>
            <meta-data
                    android:name="den_push_api_url"
                    android:value="https://push.dengage.com"/>

            <service android:name="com.dengage.sdk.FcmMessagingService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
            <receiver android:name="com.dengage.sdk.NotificationReceiver"
                      android:exported="false">
                <intent-filter>
                    <action android:name="com.dengage.push.intent.RECEIVE"/>
                    <action android:name="com.dengage.push.intent.OPEN"/>
                    <action android:name="com.dengage.push.intent.DELETE"/>
                </intent-filter>
            </receiver>
        </config-file>
        <resource-file src="google-services.json" target="app/google-services.json"/>
        <preference name="GradlePluginGoogleServicesEnabled" value="true"/>
        <preference name="GradlePluginGoogleServicesVersion" value="4.3.4"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
</widget>
